* {
	margin-left: 5px;
	margin-right: 5px;
	border-radius: 5px;
}

window#waybar {
	background: transparent;
	margin: 0px;
}

.modules-left,.modules-right,.modules-center {
	margin-top: 5px;
	background-color: rgba(15,15,15,1);
}
